@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Cormorant+Garamond:wght@300;400;500&family=Lato&family=Lobster&family=Playfair+Display&family=Press+Start+2P&family=Righteous&family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&family=League+Spartan&family=Ubuntu&display=swap");

/* Front page */ 
.welcome-text {
    text-align: center;
    color: #3a86ff;
    font-family: "Righteous", cursive;
}
.intro-text {
    text-align: center;
    color: #3a86ff;
    font-family: "Lato", sans-serif;
}
.intro-text-1,
.intro-text-2,
.intro-text-3 {
    font-size: 1.5rem;
}
.intro {
    max-width: 80%;
    margin: 0 auto;
}
body {
    background-color: #f4f8fb;
    font-family: "Nunito", sans-serif;
}

.console-header {
    background-color: #2685db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

hr {
    border: none;
    border-top: 2px solid #e6e6e6;
}

.message {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}
.event-msg{
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    position: fixed;
    top:20%;
    left:50%;
}
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.userName {
    background-image: linear-gradient(45deg, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.6em;
}
.topContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.site-logo{
    display: flex;
}
.logo-img{
    display: flex;
    height: 3vw;
}  
.logo{
    max-width:100%;
    max-height:100%;
}
.header-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 6px;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 0 10px;
    font-family: 'Ubuntu', sans-serif;
}
.nav1 {
    margin-right: 4em;
    margin-left: 2em;
    text-decoration: none;
}
.nav1:hover,
.nav2:hover,
.nav3:hover {
    color: #92c0f1;
    cursor: pointer;
}
.nav2 {
    text-decoration: none;
}
.nav3 {
    text-decoration: none;
}


/* dashbaord */


.mainTitle{
    font-size: 48px;
font-weight: bold;
text-align: center;
margin-top: 50px;
margin-bottom: 30px;
text-shadow: 2px 2px 2px #333;
color: #3e50f5;
letter-spacing: 2px;
}

/* SideNav */
.side-navi{
    margin-left:2em;
}
.side-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: white;
    height: 75vh;
}

.side-nav-list li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.5s;
    padding:2em;
}

.side-nav-list li a:hover {
    font-weight: 700;
    color:#000;
}
.main-container{
    display: flex;
}
.fa-home,
.fa-tachometer-alt,
.fa-lightbulb,
.fa-tasks,
.fa-sign-out-alt{
    padding-right:0.5em;
}

/* widget card */ 

.widgets-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-top: 1em;
}
.widget-card{
    max-width:22vw;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    background-color: white;
}
.widget-card:hover {
transform: translate(4px, -4px); 
}
.card-sub-title{
    color:grey;
    font-family: 'Ubuntu', sans-serif;
    padding:10px;
    margin:0;
}

.card-text-1{
    padding:0 10px 10px 10px;
    cursor: pointer; 
    font-size:1.4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin:0;
}
.card-text-1:hover{
    color: #00AFFF; 
    transition: color 0.3s;
}
.card-text-1 a{
    text-decoration: none; 
}
.card-text-2{
    padding:10px;
    margin:0;
}
.card-text-3{
    text-align:right;
    padding-right:30px;
    margin-top:0;
}
.card-img-1,
.card-img-2{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}
.card-img {
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 0 0; 
    cursor: pointer;
}
.task-user{
    text-align: center;
}
.task-wrap{
    display: flex;
}
.fa-star-half-alt {
    margin-left: 1em;
    align-self: center;
}